In [1]:
import pandas as pd

df1 = pd.read_excel('data/paper_abstract/abstract1.xlsx', engine='openpyxl')
df2 = pd.read_excel('data/paper_abstract/abstract2.xlsx', engine='openpyxl')
df3 = pd.read_excel('data/paper_abstract/abstract3.xlsx', engine='openpyxl')
df4 = pd.read_excel('data/paper_abstract/abstract4.xlsx', engine='openpyxl')
df5 = pd.read_excel('data/paper_abstract/abstract5.xlsx', engine='openpyxl')

C:\Users\gmleh\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\gmleh\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [4]:
df = pd.concat([df1, df2, df3, df4, df5], axis = 0)
df = df[['제목', 'publication_date']]
df['제목'] = df['제목'].astype(str)

In [5]:
import re

def remove_special_chars(text):
    return re.sub(r'[()\[\]{}\-:;]', '', text)

df['제목'] = df['제목'].apply(remove_special_chars)

In [6]:
# stop_words = set([
#     'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your',
#     'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it',
#     "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this',
#     'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had',
#     'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while',
#     'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',
#     'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other',
#     'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just',
#     'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', '[',']', '(', ')', '{', '}', '-', '--', ':', ';'
# ])

# def process_text(text):
#     words = text.lower().split()
#     words = [word for word in words if word not in stop_words]
#     return ' '.join(words)

# df['제목'] = df['제목'].apply(process_text)
# df

In [7]:
df = df.drop_duplicates(subset='제목', keep='first')
df

                                                      제목  publication_date
0      Safety of inadvertent administration of live z...  {{{2020-01-29}}}
1      Risk of herpes zoster in patients prescribed i...  {{{2011-12-16}}}
2      Sex differences underlying orofacial varicella...  {{{2017-05-17}}}
3      Acute myelitis with multicranial neuritis caus...  {{{2022-02-05}}}
4      A retrospective case series of segmental zoste...  {{{2018-08-21}}}
...                                                  ...               ...
29436                  On the skin temperature in lepers  {{{1965-10-30}}}
29437    A study of experimental leprosy irradiated mice    {{{1964 May}}}
29438  Tolrivizin in the treatment of trophic ulcers ...    {{{1965 Oct}}}
29439  Postexposure prophylaxis in leprosy PEOPLE a c...    {{{2024 Jun}}}
29440  Evidence of leprosy post exposure prophylaxis ...    {{{2024 Jun}}}

[213547 rows x 2 columns]

In [8]:
# for PT

df.to_csv('data_for_PT/abstract_for_PT.csv')

In [9]:
df['publication_date_cleaned'] = df['publication_date'].str.replace(r'[{}]', '', regex=True)

df[['year', 'month', 'day']] = df['publication_date_cleaned'].str.extract(r'(\d{4})[-\s]?(\w+)?[-\s]?(\d+)?')

month_mapping = {
    'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 'May': '05', 'Jun': '06',
    'Jul': '07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'
}
df['month'] = df['month'].map(month_mapping).fillna(df['month'])  # 월이 이미 숫자일 경우 변환하지 않음

df_cleaned = df.dropna(subset=['year', 'month', 'day'])

df_cleaned['publication_date_formatted'] = pd.to_datetime(df_cleaned['year'] + '-' + df_cleaned['month'] + '-' + df_cleaned['day'], errors='coerce')

df_cleaned = df_cleaned.dropna(subset=['publication_date_formatted'])

df_cleaned = df_cleaned.drop(columns=['publication_date', 'publication_date_cleaned', 'year', 'month', 'day'])
df_cleaned

C:\Users\gmleh\AppData\Local\Temp\ipykernel_1896\3432026701.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['publication_date_formatted'] = pd.to_datetime(df_cleaned['year'] + '-' + df_cleaned['month'] + '-' + df_cleaned['day'], errors='coerce')

,제목,publication_date_formatted
0,Safety of inadvertent administration of live z...,2020-01-29
1,Risk of herpes zoster in patients prescribed i...,2011-12-16
2,Sex differences underlying orofacial varicella...,2017-05-17
3,Acute myelitis with multicranial neuritis caus...,2022-02-05
4,A retrospective case series of segmental zoste...,2018-08-21
...,...,...
29356,New drug for leprosy,1969-03-29
29381,Role of plastic reconstructive surgery in leprosy,1965-09-16
29394,Definitive paralysis of the external popliteal...,1965-06-11
29420,Leprosy with special reference to the otorhino...,1965-09-04
29436,On the skin temperature in lepers,1965-10-30

In [10]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

df_cleaned['publication_date_formatted'] = pd.to_datetime(df_cleaned['publication_date_formatted'], errors='coerce')

def to_weekly_date_custom(date):
    adjusted_date = date - timedelta(days=1)  
    monday = adjusted_date - timedelta(days=adjusted_date.weekday())  
    return monday + timedelta(days=1)  

def to_weekly_date_custom_with_error_handling(row):
    try:
        return to_weekly_date_custom(row['publication_date_formatted'])
    except Exception as e:
        return None

df_cleaned['Weekly_Date_Custom'] = df_cleaned.apply(to_weekly_date_custom_with_error_handling, axis=1)

df_week = df_cleaned.dropna(subset=['Weekly_Date_Custom'])
df_week

,제목,publication_date_formatted,Weekly_Date_Custom
0,Safety of inadvertent administration of live z...,2020-01-29,2020-01-28
1,Risk of herpes zoster in patients prescribed i...,2011-12-16,2011-12-13
2,Sex differences underlying orofacial varicella...,2017-05-17,2017-05-16
3,Acute myelitis with multicranial neuritis caus...,2022-02-05,2022-02-01
4,A retrospective case series of segmental zoste...,2018-08-21,2018-08-21
...,...,...,...
29356,New drug for leprosy,1969-03-29,1969-03-25
29381,Role of plastic reconstructive surgery in leprosy,1965-09-16,1965-09-14
29394,Definitive paralysis of the external popliteal...,1965-06-11,1965-06-08
29420,Leprosy with special reference to the otorhino...,1965-09-04,1965-08-31
29436,On the skin temperature in lepers,1965-10-30,1965-10-26

In [16]:
title_counts = df_week.groupby('Weekly_Date_Custom')['제목'].count().reset_index(name='Title_Count')
title_counts

     Weekly_Date_Custom  Title_Count
0            1943-12-28            1
1            1944-12-26            2
2            1945-03-27            1
3            1945-07-31            1
4            1945-08-07            1
...                 ...          ...
4039         2024-04-30           25
4040         2024-05-07           21
4041         2024-05-14            2
4042         2024-05-28            8
4043         2024-12-31           20

[4044 rows x 2 columns]

In [15]:
title_counts['Weekly_Date_Custom'] = pd.to_datetime(title_counts['Weekly_Date_Custom'])

min_date = title_counts['Weekly_Date_Custom'].min()
max_date = title_counts['Weekly_Date_Custom'].max()

complete_weekly_dates = pd.date_range(start=min_date, end=max_date, freq='W-TUE')  # Assuming the week ends on Tuesday

complete_weekly_dates_df = pd.DataFrame(complete_weekly_dates, columns=['Weekly_Date_Custom'])

df_abstract_complete = complete_weekly_dates_df.merge(title_counts, on='Weekly_Date_Custom', how='left').fillna(0)

df_abstract_complete['Title_Count'] = df_abstract_complete['Title_Count'].astype(int)

df_abstract_complete

     Weekly_Date_Custom  Title_Count
0            1943-12-28            1
1            1944-01-04            0
2            1944-01-11            0
3            1944-01-18            0
4            1944-01-25            0
...                 ...          ...
4223         2024-12-03            0
4224         2024-12-10            0
4225         2024-12-17            0
4226         2024-12-24            0
4227         2024-12-31           20

[4228 rows x 2 columns]

In [17]:
df_abstract_complete.to_csv('abstract_count.csv')

In [9]:
df_week = df_week[(df_week['Weekly_Date_Custom'] >= '2018-03-19') & 
                 (df_week['Weekly_Date_Custom'] <= '2023-09-21')]

# Weekly_Date_Custom 순으로 정렬
sorted_df = df_week.sort_values(by='Weekly_Date_Custom')
sorted_df

,제목,publication_date_formatted,Weekly_Date_Custom
6597,large pseudoaneurysm superficial femoral arter...,2018-03-20,2018-03-20
29971,risk nontargeted infectious disease hospitaliz...,2018-03-21,2018-03-20
16322,double burden disease challenge health access ...,2018-03-23,2018-03-20
1267,"molecular epidemiology trichophyton tonsurans,...",2018-03-22,2018-03-20
7199,nonspecific cd8+ cells dendritic cells/macroph...,2018-03-22,2018-03-20
...,...,...,...
27497,"perturboid, targeted in situ method reveals im...",2023-09-22,2023-09-19
27543,sheptide antimalarial cyclic pentapeptide from...,2023-09-20,2023-09-19
27557,evidence submicroscopic plasmodium knowlesi mo...,2023-09-25,2023-09-19
25780,bacterial ghost cell based bivalent candidate ...,2023-09-22,2023-09-19
42813,morphogenic protein copd controls spatiotempor...,2023-09-20,2023-09-19

In [10]:
abstract_input = sorted_df[['Weekly_Date_Custom', '제목']]

In [11]:
abstract_input

      Weekly_Date_Custom                                                 제목
6597          2018-03-20  large pseudoaneurysm superficial femoral arter...
29971         2018-03-20  risk nontargeted infectious disease hospitaliz...
16322         2018-03-20  double burden disease challenge health access ...
1267          2018-03-20  molecular epidemiology trichophyton tonsurans,...
7199          2018-03-20  nonspecific cd8+ cells dendritic cells/macroph...
...                  ...                                                ...
27497         2023-09-19  perturboid, targeted in situ method reveals im...
27543         2023-09-19  sheptide antimalarial cyclic pentapeptide from...
27557         2023-09-19  evidence submicroscopic plasmodium knowlesi mo...
25780         2023-09-19  bacterial ghost cell based bivalent candidate ...
42813         2023-09-19  morphogenic protein copd controls spatiotempor...

[17119 rows x 2 columns]

In [12]:
def concatenate_abstracts(df):
    # Weekly_Date_Custom 열을 기준으로 그룹화하고 PATENT_ABSTC 열을 이어붙임
    df_concatenated = df.groupby('Weekly_Date_Custom', as_index=False).agg({
        '제목': ' '.join
    })
    return df_concatenated

In [13]:
final_df = concatenate_abstracts(abstract_input)
final_df

    Weekly_Date_Custom                                                 제목
0           2018-03-20  large pseudoaneurysm superficial femoral arter...
1           2018-03-27  duplex recombinase polymerase amplification as...
2           2018-04-03  autoimmunity to tropomyosinspecific peptides i...
3           2018-04-10  decision support evidencebased integration dis...
4           2018-04-17  neonatal congenital malaria case series in mal...
..                 ...                                                ...
283         2023-08-22  unravelling factors associated malaria parasit...
284         2023-08-29  therapeutic efficacy safety artesunate + amodi...
285         2023-09-05  ancient clostridium dna variants tetanus neuro...
286         2023-09-12  salmonella meningitis in young child from paki...
287         2023-09-19  tetanus, infectious disease still topical in l...

[288 rows x 2 columns]

In [14]:
count_per_weekly_date = abstract_input.groupby('Weekly_Date_Custom').size().reset_index(name='count')

count_per_weekly_date['count'].describe()

count    288.000000
mean      59.440972
std       21.540416
min       20.000000
25%       45.000000
50%       55.000000
75%       70.000000
max      129.000000
Name: count, dtype: float64

In [15]:
final_df.to_csv('input_data/abstract_for_input.csv')